body{
  background-color: rgba(170, 170, 170, 0.75);
}
body, h1{
  margin: 0;
  padding: 0;
  
}
h2{
  margin-left: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: rgb(0, 0, 0);
  padding: 0px 10px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav h1 {
  margin-left: 30rem;
  font-size: 50px;
  color: #f0f0f0;
}

.nav img {
  width: 100px; /* Ajusta el tamaño del logo según tu diseño */
  margin: 0 px 10px
}


.shop img{
  width: 50px;
  background-color: #f0f0f0;
  color: #f0f0f0;
  margin-right: 50px;
}

.cart-button {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
  
.Card-Container {
  display: flex;
  overflow-x: auto; 
  padding: 10px;
}

.Card {
  
  flex: 0 0 auto;
  font-size: 10px;
  border: 1px solid #000000; 
  padding: 0;
  margin-right: 10px;
  gap: 10px;
  min-width: 200px;
  max-width: 300px;
  border-radius: 10%;
}


.Card img{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.Card h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: red;
  padding: 5px 0px;
}

.Card p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-right: 10px;
  color: red;
  
}

.Card button {
  margin-left: 70px;
  margin-bottom: 5px;
  font-size: 20px;
  color: red;
  padding: 5px 0px;
}

.section-Cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(254, 88, 36, 0.5);
  width: 100%;
}